<%= simple_form_for(@family_member) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :user_id %>
    <%= f.input :family_member_user_id %>
    <%= f.input :relationship %>
    <%= f.input :join_pending %>
    <%= f.input :payment_status %>
    <%= f.input :relation_id %>
    <%= f.input :deactivate %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
