 <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Mj" %></title>

    <style type="text/css"> 
     .footer-mj{
      position:absolute;
      bottom:0;
      left:0;
      margin: 0;
     }

    </style>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-41625696-1', 'herokuapp.com');
  ga('send', 'pageview');

</script>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
<![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag '/assets/mj_favicon.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag '/assets/mj_favicon.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag '/assets/mj_favicon.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag '/assets/mj_favicon.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag '/assets/mj_favicon.png', :rel => 'shortcut icon' %>
   
    </script>
 
<style>

 

 
 
 html {
  position: relative;
  min-height: 100%;
}
#content {  
  padding-bottom: 30px;
}
#footer .navbar{
  position: absolute;
 }
#footer {background-color:#f3f3f3;
padding-bottom: 2px;
}


#bottom_strip{background:#fff; height:31px; width: 100%; }
#bottom_strip .inner_wrap div{position:absolute; right:0px;}
#bottom_strip .inner_wrap div a{ float:right; color:#000000; line-height:15px; display:block; margin-left:10px; text-decoration:none;
font-size:13px;
}
#bottom_strip .inner_wrap span{position:absolute; left:0px; font-size:13px; color:#000000; line-height:30px; }
.inner_wrap{width:1200px; margin: 0px auto; position:relative !important;padding-top: 8px;}
 
#slider{color:#000000;}

 a:hover{ background-color: #f7f7f7}
      </style>
    </head>
    <body>        
<div class="Contact"> 

  <div class="navbar-inner">
    <div class="container">
      <div id="s" style="padding-left:790px; padding-bottom:15px;padding-top:10px;">
   

 <button class="btn btn-danger" onclick="window.location.href='/users/sign_up'"> Registration</button>&nbsp; &nbsp; 
       <button class="btn btn-danger" onclick="window.location.href='/users/sign_in'">Log&nbsp;In</button>


     </div>

     <div class="span2">
<img src="/assets/beta.png" height="79" width="52">
      <a class="brand" href="/"><img src="/assets/logo.png" style="height:80px;" id="logo"/></a> 
     </div><!--span2-->
        <div class= "span3">
   &nbsp;&nbsp;&nbsp;       
<div class="input-prepend" style="padding-top: 28px; padding-left: 10px;">

            <div class="btn-group" style="">
              <button class="btn dropdown-toggle" data-toggle="dropdown">Search For
               <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="/events">Events</a></li>
                <li><a href="/search">Search</a></li>
              </ul>
            </div><!--btn-group-->
              <input class="span4" id="prependedDropdownButton" type="text">
          </div><!--input-prepend--></ul>
</div><!--container nav-collapse-->
  
     <p class="phone" style="float: right; padding-left:-50px;"> +91 90300 27648/649</p>
      <a href="mailto:maheshwari.jagruth@gmail.com" class="contact" style="float: right; padding-left:-50px;">maheshwari.jagruth@gmail.com</a>
 
      
  
 
    </div> <!--container-->   
      <hr>
  </div><!--navbar-inner-->
</div><!--row-->

<div class="container nav-collapse" >
<ul class="nav nav-pills">
  <li><a href="/">Home &nbsp;&nbsp;</a></li> 
  <li><a href="/events">Events &nbsp;&nbsp;</a></li>  
  <!-- <li><a href="/advertisements">Partners &nbsp;&nbsp;</a></li> 
  <li><a href="/registration">Registration &nbsp;&nbsp;</a></li>  -->

   <li class="dropdown">
    <a class="dropdown-toggle"data-toggle="dropdown"href="#">States<b class="caret"></b></a>
    
         <ul class="dropdown-menu">
          <table class="table table-hover" cellpadding="10">
            <tr>
              <td>
           <li><a href="/aboutus">AndraPradesh</a></li>
           <li><a href="../../history.pdf" target="_blank">ArunachalPradesh</a></li>
           <li><a href="../../festivals.pdf" target="_blank">Assam</a></li>
              <li><a href="../../maheshwari.png" target="_blank">Bihar</a></li>
              </td>
              <td>
             
           <li><a href="/rajasthan">Chhattisgarh </a></li>
            <li><a href="/aboutus">Delhi</a></li>
              <li><a href="/aboutus">Goa</a></li>
           <li><a href="../../history.pdf" target="_blank">Gujarat</a></li>
              </td>
              <td>
            <li><a href="../../festivals.pdf" target="_blank">Haryana</a></li>
           <li><a href="../../maheshwari.png" target="_blank">HimachalPradesh</a></li>
           <li><a href="/rajasthan">Jammu&Kashmir</a></li>
            <li><a href="/aboutus">Jharkhand</a></li>
         
              </td>
              <td>
                   
           <li><a href="../../history.pdf" target="_blank">Karnataka</a></li>
           <li><a href="../../festivals.pdf" target="_blank">Kerala</a></li>
           <li><a href="../../maheshwari.png" target="_blank">MadyaPradesh</a></li>
           <li><a href="/rajasthan">Maharashtra</a></li>
           
              </td>
              <td>
                 <li><a href="/aboutus">Manipur</a></li>
           <li><a href="../../history.pdf" target="_blank">Meghalaya</a></li>
           <li><a href="../../festivals.pdf" target="_blank">Mizoram</a></li>
           <li><a href="../../maheshwari.png" target="_blank">Nagaland</a></li>
           
              </td>
              <td>
            <li><a href="/rajasthan">Orissa</a></li>
           <li><a href="/rajasthan">Punjab</a></li>
            <li><a href="/aboutus">Rajasthan</a></li>
           <li><a href="../../history.pdf" target="_blank">Sikkim</a></li>
      
              </td>
              <td>
                 <li><a href="../../festivals.pdf" target="_blank">TamilNadu</a></li>
           <li><a href="../../maheshwari.png" target="_blank">Tripura</a></li>
           <li><a href="/rajasthan">Uttaranchal</a></li>
           <li><a href="../../history.pdf" target="_blank">UttaPradesh</a></li>
        
              </td>
              <td>
              <li><a href="../../festivals.pdf" target="_blank">WestBengal</a></li>
           <li><a href="/rajasthan">Uttaranchal</a></li>
              </td>
            </tr>
          </table>
        </ul>
  </li>
  <li class="dropdown">
    <a class="dropdown-toggle"data-toggle="dropdown"href="#">About Us<b class="caret"></b></a>
    
         <ul class="dropdown-menu">
           <li><a href="/aboutus">About Us</a></li>
           <li><a href="../../history.pdf" target="_blank">History</a></li>   
           <li><a href="../../festivals.pdf" target="_blank">Festivals</a></li>      
           <li><a href="../../maheshwari.png" target="_blank">Vanshothpatti</a></li>
           <li><a href="/rajasthan">Hamaro Rajasthan</a></li>

        </ul>
  </li>

        
</div><!--container nav-collapse-->
   
 
<div class="container" >
  <div id="example" class="modal hide fade in" >
    <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a><h3>Family Tree</h3>
    </div>
    <div class="modal-body"><img src="/assets/d.png"/>
    </div>

    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">Close</a>
    </div>
  </div>
    <p><a data-toggle="modal" href="#example" class="btn btn-primary btn-large">Demo Family Tree</a></p>
</div> <!-- /container --> 
   
<div class="container">
 
    <div class="span12">
      <%= yield %>
    </div><!--span12-->
  </div><!--/row-->
</div> <!-- /container -->


 <div id="bottom_strip">
  <div class="inner_wrap">
    <span>&copy MJ. All rights reserved</span>
    <div>
      <a href="#">Terms and Conditions</a>
      <a style="color:#8B1001;">|</a>
      <a href="#">Privacy Policy</a>
    </div>
  </div>
 </div>
   <!--bottom strip End-->
</div><!--footer-->
 
</div><!--fixed-bottom-->
 
</div>
  
 


    <!-- Javascripts
================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>
   </div>
    </body>
 

</html>


<br><br><br><br><br><br>
<br><br><br><br><br><br><br><br>
<br><br><br><br>